.h1 {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    text-align: left;
    vertical-align: top;
    color: #0065EF;
}

.h2 {
    font-family: 'Jost', sans-serif;
    font-size: 48px;
    font-weight: normal;
    line-height: 64px;
    letter-spacing: 0em;
    margin-bottom: 0;
    text-align: left;
    vertical-align: top;
}

.h3 {
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 550;
    line-height: 32px;
    letter-spacing: 3em;
    margin-bottom: 24px;
    text-align: left;
    vertical-align: top;
}

.h4 {
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 550;
    line-height: 32px;
    letter-spacing: 0;
    margin-bottom: 24px;
    text-align: left;
    vertical-align: top;
}

.p1 {
    font-family: 'Open Sans Hebrew', sans-serif;
    font-size: 18px;
    font-weight: light;
    line-height: 30px;
    letter-spacing: 0em;
    margin-bottom: 24px;
    text-align: left;
    vertical-align: top;
}

.p2 {
    font-family: 'Open Sans Hebrew', sans-serif;
    font-size: 16px;
    font-weight: light;
    line-height: 28px;
    letter-spacing: 3em;
    margin-bottom: 24px;
    text-align: left;
    vertical-align: top;
}

.p3 {
    font-family: 'Open Sans Hebrew', sans-serif;
    font-size: 14px;
    font-weight: light;
    font-style: italic;
    line-height: 24px;
    letter-spacing: 0em;
    margin-bottom: 0;
    text-align: left;
    vertical-align: top;
}