.footer-links {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    gap: 100px;
    padding: 0;
}

.footer-links li {
    cursor: pointer;
}

.footer {
    width: 100vw;
    height: 50px;
    background-image: var(--grad1);
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
}