.hero1 {
    height: 100vh;
    padding-bottom: var(--footer-height);
    padding-top: var(--header-height);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: var(--grad1);
    color: white;
}

.hero2 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: bottom;
    text-align: left;
    background-color: #F9F9F9;
    padding: 100px 0;
}

.hero2 .content-wrapper {
    text-align: left;
    display: block;
    width: 50vw;
    
}

.our-partners {
    width: 100%;
    min-height: 150px;
    background-color: white;
    padding: 10px 0;
}

.services {
    padding-bottom: var(--footer-height);
    padding-top: var(--header-height);
    background-image: var(--grad3);
    color: black;
}
.services .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services-container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 40px 0;
}

.services-image {
    width: 35vw;
    height: auto;
}

.service-types-wrapper {
    padding-top: 50px;
    font-size: 20px;
    text-align: left;
    display: block;
    float: right;
    margin-right: 80px;
}

.approach {
    height: 100vh;
}

.approach-head {
    width: 800px;
    margin-bottom: 50px;
}

.approach .stages {
    text-align: center;
}

.approach .graph {
    display: inline-block;
    width: 550px;
    height: auto;
    text-align: center;
    margin-right: 100px;
}

.approach .stage-description {
    display: inline-block;
    width: 550px;
    text-align: left;
}

.case-studies {
    min-height: 100vh;
}

.case-study1 {
    display: block;
    min-height: 50vh;
    border: 2px solid grey;
    padding: 40px;
    background-image: var(--grad2);
}

.insights-intelligence {
    min-height: 100vh;
}

.insights-intelligence .blogs-showcase {
    text-align: center;
    margin: 30px 0;
}

.insights-intelligence .blog1 {
    display: inline-block;
    width: 500px;
    min-height: 350px;
    text-align: left;
    border: 2px solid grey;
    padding: 40px;
    margin-right: 50px;
}

.insights-intelligence .blog2 {
    display: inline-block;
    width: 500px;
    min-height: 350px;
    text-align: left;
    border: 2px solid grey;
    padding: 40px;
}

.insights-intelligence .blog-button {
    display: block;
    margin: auto;
    bottom: 0;
}

.partnerships-tech-stack {
    background-image: var(--grad3);
}

.partnerships-tech-stack .our-partners {
    background-color: #D2C7FB;
}

.start-project .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 700px;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.start-project p {
    line-height: 100px;
}

.faq {
    align-items: center;
}

.faq .faq-section-wrapper {
    justify-content: center;
}

.faq .faq-section {
    display: inline-block;
    width: 500px;
    min-height: auto;
    padding: 10px;
    margin-right: 50px;
    vertical-align: middle;
}

.faq .faq-form {
    display: inline-block;
    width: 500px;
    min-height: auto;
    border: 2px solid grey;
    padding: 10px;
    margin-left: 50px;
    vertical-align: middle;
}

.faq .faq-form .info-box {
    border: 2px solid lightgrey;
    color: grey;
    cursor: text;
}

.faq .faq-form .message-box {
    border: 2px solid lightgrey;
    color: grey;
    margin-bottom: 10px;
    cursor: text;
}

.faq .faq-form button {
    margin: 50px auto;
}

.home-footer {
    background-image: var(--grad1);
    color: white;
}

.home-footer .locations {
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
}

.home-footer .locations .india {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

.home-footer .locations .usa {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    
}