/* hero1 section styles */
.home-hero1 {
    height: 100vh;
    padding-bottom: var(--footer-height);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: var(--grad1);
    color: white;
}

/* hero2 section styles */
.home-hero2 {
    min-height: 100vh;
    background-color: #F9F9F9;
    padding: 100px 0;
}

.home-hero2-img {
    display: flex;
    justify-content: center;
}

.home-hero2-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.home-hero2-description {
    width: 550px;
}

.our-partners {
    width: 100%;
    min-height: 150px;
    background-color: white;
    padding: 10px 0;
}

/* services section styles */

.home-services {
    padding-bottom: var(--footer-height);
    background-image: var(--grad3);
    color: black;
}

.home-services-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-services-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-services-container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 40px 0;
}

.home-services-image {
    width: 35vw;
    height: auto;
}

.home-service-types-wrapper {
    padding-top: 50px;
    font-size: 20px;
    text-align: left;
    display: block;
    float: right;
    margin-right: 80px;
}

.home-service-types li {
    margin-bottom: 50px;
}

.home-services-dropdowns {
    display: flex;
    flex-direction: column;
}

.dropbtn {
    border: none;
    background: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
    width: 400px;
}

.home-services-dropdown-list {
    margin: 20px;
    line-height: 30px;
}

/* approach section styles */

.home-approach {
    min-height: 100vh;
    max-width: 100vw;
}

.home-approach-head {
    display: block;
    width: 800px;
    margin-bottom: 50px;

}

.home-stages {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.home-stages-graph {
    width: 550px;
    height: auto;
}

.home-stages-description {
    width: 550px;
}

/* case studies section styles */
.home-case-studies {
    min-height: 100vh;
}

.home-case-studies-head {
    display: flex;
    flex-direction: column;
}

.home-case-studies-card {
    padding: 20px;
    background-image: var(--grad3);
    border-radius: 10px;
    min-height: 400px;
}

/* blogs section styles */
.home-blogs {
    min-height: 100vh;
}

.home-blogs-showcase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.home-blog-card {
    display: inline-block;
    width: 450px;
    min-height: 350px;
    text-align: left;
    border: 2px solid grey;
    padding: 40px;
}

/* partnerships & tech stack section styles */
.partnerships-tech-stack {
    background-image: var(--grad3);
}

/* start project section styles */
.start-project .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 700px;
    max-width: 700px;
    margin: 0 auto;
}

/* faq section styles */
.faq {
    align-items: center;
}

.faq .faq-section-wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.faq .faq-section {
    width: 500px;
    min-height: auto;
    padding: 10px;
}

.faq .faq-form {
    width: 500px;
    max-height: auto;
    border: 2px solid grey;
    padding: 10px;
}

.faq .faq-form .info-box {
    border: 2px solid lightgrey;
    color: grey;
    cursor: text;
}

.faq .faq-form .message-box {
    border: 2px solid lightgrey;
    color: grey;
    margin-bottom: 10px;
    cursor: text;
}

.faq .faq-form button {
    margin: 50px auto;
}

/* footer section styles */
.home-footer {
    background-image: var(--grad1);
    color: white;
}

.home-footer .locations {
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
}

.home-footer .locations .india {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

.home-footer .locations .usa {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    
}