.navbar {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers dropdown under the button */
  
}

.navbar-toggle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-dropdown {
  position: absolute;
  top: 60px; /* Pushes dropdown below the circular button */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  background-color: white;
}

.navbar-dropdown li {
  list-style: none;
  font-size: 20px;
  padding: 10px 40px;
}

.navbar-dropdown li a {
  text-decoration: none;
  color: black;
}